@charset "UTF-8";

.header .site-topbar{
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}

.header .site-topbar .container{
    width: 1226px;
    margin: 0 auto;
}
.header .site-topbar .container .topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
}
.header .site-topbar .container .topbar-nav a{
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
.header .site-topbar .container .topbar-nav a:hover{
    color: #fff;
}
.header .site-topbar .container .topbar-nav .sep{
    margin: 0 0.4em;
    color: #424242;
}
.header .site-topbar .container .topbar-nav .sep:nth-last-child(1){
    display: none;
}
.header .site-topbar .container .topbar-cart{
    position: relative;
    float: right;
    margin-left: 15px;
    transition: all 0.3s;
    font-size: 12px;
}
.header .site-topbar .container .topbar-cart .cart-mini{
    display: inline-block;
    color: #b0b0b0;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    padding: 0 14px;
    background-color: #424242;
    transition: all 0.3s;
}
.header .site-topbar .container .topbar-cart .cart-mini:hover{
    color: #ff6700;
    background-color: #fff;
}
.header .site-topbar .container .topbar-cart .cart-mini span{
    padding-left: 4px;
}
.header .site-topbar .container .topbar-cart .cart-menu {
    position: absolute;
    right: 0px;
    top: 40px;
    width: 312px;
    height: 0;
    color: #424242;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: all .3s;
    z-index: -1;
    opacity: 0;
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content{
    padding: 20px 0 0;
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading,
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .msg-empty{
    margin: 0 20px 20px;
    text-align: center;
    padding: 20px 0;
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .msg-empty{
    display: none;
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading .loader{
    position: relative;
    margin: 0 auto;
    width: 4px;
    height: 20px;
    background: #ff6700;
    overflow: visible;
    animation-delay: 0s;
    transform: scale(1);
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading .loader,
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading .loader:before,
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading .loader:after{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 20px;
    content: "";
    background: #ff6700;

    transform-origin: 50% 50%;
    animation-name: loader;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading .loader:before{
    margin: -10px 0 0 -10px;
    animation-delay: 0.25s;
    transform: scaleY(.3);
}
.header .site-topbar .container .topbar-cart .cart-menu .menu-content .loading .loader:after{
    margin: -10px 0 0 6px;
    animation-delay: 0.5s;
    transform: scaleY(0.5);
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: scaleY(.5);
        opacity: .2
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@keyframes loader {
    0% {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        opacity: .2
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}
.header .site-topbar .container .site-user-info{
    float: right;
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
}
.header .site-topbar .container .site-user-info a{
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
}
.header .site-topbar .container .site-user-info a:hover{
    color: #fff;
}
.header .site-topbar .container .site-user-info .sep{
    margin: 0 4px;
    color: #424242;
}


.header .site-header{
    z-index: 20;
    height: 100px;
    position: relative;
}
.header .site-header .container{
    width: 1226px;
    margin: 0 auto;
    position: relative;
}
.header .site-header .container .header-logo{
    float: left;
    width: 62px;
    margin-top: 22px;
}
.header .site-header .container .header-logo .ir{
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
.header .site-header .container .header-logo .logo{
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    overflow: hidden;
}
.header .site-header .container .header-logo .logo:before{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 56px;
    height: 56px;
    content: "";
    transform-origin: 50% 50%;
}
.header .site-header .container .header-logo .logo:before{
    background: url("../images/header/logo-mi2.png") no-repeat;
    background-size: 56px 56px;
    transform: translateZ(0);
}
.header .site-header .container .header-logo .logo:before{
    opacity: 1;
}

.header .site-header .container .header-nav{
    float: left;
}
.header .site-header .container .header-nav .nav-list{
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.header .site-header .container .header-nav .nav-list .nav-category{
    float: left;
    width: 127px;
    padding-right: 15px;
}
.header .site-header .container .header-nav .nav-list .nav-category .link-category{
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.header .site-header .container .header-nav .nav-list .nav-item{
    float: left;
}
.header .site-header .container .header-nav .nav-list .nav-item a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    transition: color .2s;
}
.header .site-header .container .header-nav .nav-list .nav-item a:hover{
    color: #ff6700;
}
.header .site-header .container .header-search{
    float: right;
    width: 296px;
    margin-top: 25px;
}
.header .site-header .container .header-search .search-form{
    position: relative;
    width: 296px;
    height: 50px;
    z-index: 20;
}
.header .site-header .container .header-search .search-form .no-style-msq{
    color: #333;
}
.header .site-header .container .header-search .search-form .search-text,
.header .site-header .container .header-search .search-form .search-btn{
    position: absolute;
    top: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
    transition: all .2s;
}
.header .site-header .container .header-search .search-form .search-text{
    right: 50px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
}
.header .site-header .container .header-search .search-form .search-btn{
    right: 0;
    z-index: 2;
    width: 52px;
    height: 46px;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    cursor: pointer;
}
.header .site-header .container .header-search .search-form .icon-search:before{
    content: "\e7b3";
    position: absolute;
    top: 11px;
    left: 14px;
    
}
